/*********** TAG Selector ***********/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F7F6DC;
}

h1 {
  color: #7FB77E;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0 auto;
  line-height: 1;
}

h2{
  color: #7FB77E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

a:hover {
  color: whitesmoke;
}

p {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}

header {
  font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: #fff;
  border: 7px;
  border-color: #B1D7B4;
  border-style: none none dotted;
  margin: 40px auto;
  width: 7%;
}

ul {
  display: table;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  margin: auto;
  text-align: left;
}

form {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  padding: 10px 0 30px 0;
}

/*********** CLASS Selector ***********/

/* The navigation bar */
.navbar {
  background-color: #7FB77E;
  font-weight: bold;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}

.dogbone-separator {
  width: 6rem;
  padding: 15px 0;
}

/* Main > Top Container */
.top-container {
  background-color: #F7F6DC;
  padding-top: 50px;
}

.lucky-profile-image {
  width: 250px;
}

/* .top-dogtoyTeddyBoneBall {
  position: absolute;
  right: 20%;
  top: 60px;
  width: 10%;
} */

/* .bottom-dogbone {
  position: absolute;
  left: 20%;
  width: 10%;
} */

.bottom-doghouse {
  /* margin-top: 10%; */
  width: 20%;
}



/* Main > Middle Container */
.middle-container {
  margin: 15px;
}

.woof-description {
  line-height: 2;
  margin: auto;
  text-align: center;
  width: 60%;
}

.skill-row {
  margin: 100px auto;
  width: 60%;
  text-align: left;
  line-height: 1.5;
}

.skillrowimageLeftAligned {
  width: 15%;
  float:left;
  padding-right: 30px;
}

.skillrowdescriptionLeftAligned {
  margin-bottom: 60px;
  text-align: left;
}

.skillrowimageRightAligned {
  width: 15%;
  float: right;
  padding-left: 30px;
}

.skillrowdescriptionRightAligned {
  text-align: left;
}

.contact-me {
  margin: auto;
  padding: 30px 0;
  width: 60%;
  line-height: 2rem;
}


.contact-btn {
  background: #d96534;
  background-image: -webkit-linear-gradient(top, #d96534, #f59d6a);
  background-image: -moz-linear-gradient(top, #d96534, #f59d6a);
  background-image: -ms-linear-gradient(top, #d96534, #f59d6a);
  background-image: -o-linear-gradient(top, #d96534, #f59d6a);
  background-image: linear-gradient(to bottom, #d96534, #f59d6a);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background: #fcb93c;
  background-image: -webkit-linear-gradient(top, #fcb93c, #fca400);
  background-image: -moz-linear-gradient(top, #fcb93c, #fca400);
  background-image: -ms-linear-gradient(top, #fcb93c, #fca400);
  background-image: -o-linear-gradient(top, #fcb93c, #fca400);
  background-image: linear-gradient(to bottom, #fcb93c, #fca400);
  text-decoration: none;
}


.justkidding {
  font-size: smaller;
}


/* Main > Bottom Container */
.bottom-container {
  padding: 20px 0 5px 0;
  background-color: #7FB77E;
}


/* Footer */
.footer-link {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px;
  text-decoration: none;
}

.copyright {
  color: whitesmoke;
  font-family: 'Merriweather', serif;
  font-size: 0.75rem;
}

/*********** ID Selector ***********/